
@{
    ViewData["Title"] = "Consultar Usuario Prueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="tabla-Usuarios" class="table table-hover">
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>118560019</td>
                <td>Fabián</td>
                <td>fabianja0477@gmail.com</td>
                <td>Administrador</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Evelyn</td>
                <td>fabianja0477@gmail.com</td>
                <td>Profesor</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Jacqueline</td>
                <td>fabianja0477@gmail.com</td>
                <td>Profesor</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Tania</td>
                <td>fabianja0477@gmail.com</td>
                <td>Profesor</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Andres</td>
                <td>fabianja0477@gmail.com</td>
                <td>Administrador</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Kevin</td>
                <td>fabianja0477@gmail.com</td>
                <td>Administrador</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Fabián</td>
                <td>fabianja0477@gmail.com</td>
                <td>Estudiante</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Fabián</td>
                <td>fabianja0477@gmail.com</td>
                <td>Estudiante</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Alonso</td>
                <td>fabianja0477@gmail.com</td>
                <td>Estudiante</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Wenndy</td>
                <td>fabianja0477@gmail.com</td>
                <td>Estudiante</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Melissa</td>
                <td>fabianja0477@gmail.com</td>
                <td>Estudiante</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Rodrigo</td>
                <td>fabianja0477@gmail.com</td>
                <td>Estudiante</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Dilan</td>
                <td>fabianja0477@gmail.com</td>
                <td>Estudiante</td>
                <td>Activo</td>
            </tr><tr>
                <td>118560019</td>
                <td>Josue</td>
                <td>fabianja0477@gmail.com</td>
                <td>Estudiante</td>
                <td>Activo</td>
            </tr>
        
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var table = new DataTable("#tabla-Usuarios", {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0] }]
        });
    });
</script>
