@{
    ViewData["Title"] = "Consultar Usuario Prueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <link href="~/css/hojaestilos.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/page/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/page/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/page/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/page/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/page/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="~/page/images/favicon.png" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css">
</head>
<body>
    <div class="text-center mb-4">
        <h1>Clientes</h1>
        <p>Aquí puedes ver todos los clientes que hay registrados actualmente.</p>
    </div>
    <div class="card-header">
        <h3>Lista de clientes</h3>
    </div>
    <div class="card" style="padding-left: 15px; padding-right: 15px;">
        <table id="tabla-Usuarios" class="table table-hover">
            <thead>
                <tr style="text-align: center">
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                    <th>Ordenes</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>118560019</td>
                    <td>Fabián</td>
                    <td>fabianja0477@gmail.com</td>
                    <td>Cliente</td>
                    <td>Activo</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="/Usuario/EditarClientes" class="botones">Actualizar</a>
                            <div style="margin-left:5px">
                                <button class="botones" onclick="confirmarBorrado(event)">Eliminar</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="margin-left:5px">
                            <a href="/Usuario/OrdenesPorCliente" class="botones">Ver mís ordenes</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>456789011</td>
                    <td>Mario</td>
                    <td>Mariolop0477@gmail.com</td>
                    <td>Cliente</td>
                    <td>Activo</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="/Usuario/EditarClientes" class="botones">Actualizar</a>
                            <div style="margin-left:5px">
                                <button class="botones" onclick="confirmarBorrado(event)">Eliminar</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="margin-left:5px">
                            <a href="/Usuario/OrdenesPorCliente" class="botones">Ver mís ordenes</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>678970132</td>
                    <td>Kevin</td>
                    <td>KevinML0477@gmail.com</td>
                    <td>Cliente</td>
                    <td>Activo</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="/Usuario/EditarClientes" class="botones">Actualizar</a>
                            <div style="margin-left:5px">
                                <button class="botones" onclick="confirmarBorrado(event)">Eliminar</button>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="margin-left:5px">
                            <a href="/Usuario/OrdenesPorCliente" class="botones">Ver mís ordenes</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = new DataTable("#tabla-Usuarios", {
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
                },
                columnDefs: [{ type: 'string', target: [0] }]
            });
        });

        function confirmarBorrado(event) {
            event.preventDefault();
            Swal.fire({
                title: '¿Está seguro que deseas eliminar este cliente?',
                text: "No podrá revertir esto",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#c1952c',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminarlo',
                customClass: {
                    popup: 'my-swal-popup'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Eliminado',
                        text: 'El cliente ha sido eliminado',
                        icon: 'success',
                        confirmButtonColor: '#c1952c',
                        customClass: {
                            popup: 'my-swal-popup'
                        }
                    });
                }
            });
        }
    </script>
</body>