
@{
    ViewData["Title"] = "Consultar Usuario Prueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hubo un error con la base de datos, favor intentarlo de nuevo mas tarde</h1>

<div>
    <img src="https://raw.githubusercontent.com/WenndyP/imgUniversity/main/error.png" class="img-fluid">
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var table = new DataTable("#tabla-Usuarios", {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0] }]
        });
    });
</script>
