@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="~/page/images/bigsolutions-logo.jpg" alt="logo">
                        </div>
                        <h4>Datos necesarios para Recuperar la Contraseña :</h4>

                    

                        <form id="RecuperarCOntrasena-form" class="pt-3" novalidate>
                           
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="email" placeholder="Correo Electronico">
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                <a href="@Url.Action("RecuperarContrasenaCodigo", "Usuario")" class="btn btn-dark">Enviar Codigo</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
