
@{
    ViewData["Title"] = "SinUsuariosRegistrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Actualmente no se encuentran usuarios registrados</h1>

<table id="tabla-Usuarios" class="table table-hover">
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
           <tr>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var table = new DataTable("#tabla-Usuarios", {
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0] }]
        });
    });
</script>
