@{
    ViewData["Title"] = "Crear Solicitud de Cotización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top: 50px;">
    <div class="text-center mb-4">
        <h1>Crear Solicitud de Cotización</h1>
        <p>Selecciona los bocetos que deseas cotizar y agrega una descripción para cada uno. También puedes agregar una descripción general para la solicitud.</p>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Bocetos Generados</h3>
        </div>
        <div class="card-body">
            <table id="tabla-Bocetos" class="table table-hover">
                <thead>
                    <tr>
                        <th style="text-align:left">Seleccionar</th>
                        <th style="text-align:left">Número de Boceto</th>
                        <th style="text-align:left">Imagen del Boceto</th>
                        <th style="text-align:left">Producto</th>
                        <th style="text-align:left">Fecha de Generación</th>
                        <th style="text-align:left">Descripción</th>
                        <th style="text-align:left">Cantidad</th>
                        <th style="text-align:left">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var boceto in Model)
                    { *@
                    <tr>
                        <td style="text-align:left">
                            <input type="checkbox" name="selectBoceto" class="select-boceto">
                        </td>
                        <td style="text-align:left">11111</td>
                        <td style="text-align:left">
                            <img src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png" class="boceto-img" style="width: 80px; height: auto; cursor: pointer;" alt="Boceto" data-toggle="modal" data-target="#imageModal" data-src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png">
                        </td>
                        <td style="text-align:left">Botella</td>
                        <td style="text-align:left">@DateTime.Now</td>
                        <td style="text-align:left">
                            <textarea class="form-control boceto-description" rows="2" placeholder="Descripción del boceto"></textarea>
                        </td>
                        <td style="text-align:left">
                            <input type="number" class="form-control" placeholder="Cantidad">
                        </td>
                        <td style="text-align:left">
                            <button class="botones view-image" data-toggle="modal" data-target="#imageModal" data-src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png">Ver Imagen</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            <input type="checkbox" name="selectBoceto" class="select-boceto">
                        </td>
                        <td style="text-align:left">11112</td>
                        <td style="text-align:left">
                            <img src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png" class="boceto-img" style="width: 80px; height: auto; cursor: pointer;" alt="Boceto" data-toggle="modal" data-target="#imageModal" data-src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png">
                        </td>
                        <td style="text-align:left">Botella</td>
                        <td style="text-align:left">@DateTime.Now</td>
                        <td style="text-align:left">
                            <textarea class="form-control boceto-description" rows="2" placeholder="Descripción del boceto"></textarea>
                        </td>
                        <td style="text-align:left">
                            <input type="number" class="form-control" placeholder="Cantidad">
                        </td>
                        <td style="text-align:left">
                            <button class="botones view-image" data-toggle="modal" data-target="#imageModal" data-src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png">Ver Imagen</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left">
                            <input type="checkbox" name="selectBoceto" class="select-boceto">
                        </td>
                        <td style="text-align:left">11113</td>
                        <td style="text-align:left">
                            <img src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png" class="boceto-img" style="width: 80px; height: auto; cursor: pointer;" alt="Boceto" data-toggle="modal" data-target="#imageModal" data-src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png">
                        </td>
                        <td style="text-align:left">Botella</td>
                        <td style="text-align:left">@DateTime.Now</td>
                        <td style="text-align:left">
                            <textarea class="form-control boceto-description" rows="2" placeholder="Descripción del boceto"></textarea>
                        </td>
                        <td style="text-align:left">
                            <input type="number" class="form-control" placeholder="Cantidad">
                        </td>
                        <td style="text-align:left">
                            <button class="botones view-image" data-toggle="modal" data-target="#imageModal" data-src="https://images.vexels.com/content/259089/preview/water-semi-flat-bottle-71a67b.png">Ver Imagen</button>
                        </td>
                    </tr>
                    @* } *@
                </tbody>
            </table>
            <div class="d-flex justify-content-center mt-4">
                <button type="button" class="botones" onclick="submitForm()">Agregar Boceto</button>
            </div>
        </div>
    </div>

    
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Imagen del Boceto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" class="img-fluid" alt="Boceto Ampliado">
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tabla-Bocetos').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            }
        });

        $('#tabla-Bocetos').on('click', '.boceto-img', function () {
            var src = $(this).data('src');
            $('#modalImage').attr('src', src);
        });

        $('#tabla-Bocetos').on('click', '.view-image', function () {
            var src = $(this).data('src');
            $('#modalImage').attr('src', src);
        });
    });
</script>
